src/main/resources/schemaLib/EDI_CICA/ver201212/Finance/F41.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 (x64) (http://www.altova.com) by Greg Anderson (ASC X12) -->
<!-- (c) Copyright 2012 Data Interchange Standards Association While every effort has been made to ensure that the ASC X12 standards represented in this schema are correct, the Data Interchange Standards Association (DISA), and any other party involved in the creation of the schema, state that the schema is provided without warranty, either expressed or implied, and hereby disclaim any liability, direct or indirect, for damages or loss relating to the use of this schema.The ASC X12 standards approval cycle produces new schemas and potentially modifications to existing schemas in subsequent versions three times a year. To participate in the development of new schemas, or to request improvement of the existing schemas, consider becoming a member of ASC X12. Be sure to visit http://xml.x12.org periodically to download the latest new and existing schemas.-->
<xs:schema xmlns="urn:x12:schemas:V00201202:AchCcd" 
xmlns:X12.7="urn:x12:schemas:V00201002:X12.7" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="urn:x12:schemas:V00201202:AchCcd" 
elementFormDefault="qualified" 
attributeFormDefault="unqualified" 
version="00201202" 
X12.7:PublicationDate="2012-02-12">
	<!-- ==========  Document ========== -->
	<xs:element name="AchCcd">
		<xs:annotation>
			<xs:documentation>Template that includes all forms of payment and collection. | An ACH entry that identifies debits and credits initiated by an originator to effect a transfer of funds to or from the account of that organization or another organization.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentHeader" type="StandardDocumentHeaderModule" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Provides control information for this document. | Uniquely identifies this document being transmitted.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Detail" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AchCcdPaymentOrder" type="AchCcd.Module" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Use this slot to identify the payment clearing system to be used and the payment information required for that specific clearing system.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="PublicationVersion" type="PublicationVersionType" use="required"/>
			<xs:attribute name="PublicationDate" type="xs:date" use="required"/>
		</xs:complexType>
	</xs:element>
	<!-- ==========  Modules ========== -->
	<xs:complexType name="AchCcd.Module">
		<xs:annotation>
			<xs:documentation>Use this module to identify the payment clearing system to be used and the payment information required for that specific clearing system.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AchCcdMonetaryDetail" type="AchCcdTransactionDetail.Block" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Detail needed to process the monetary section of an ACH CCD entry.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AchCcdOriginatorDetail" type="AchCcdOriginator.Assembly" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Detail needed to process the Orginator section of an ACH entry.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AchCcdFinancialReceiver" type="AchFinancialReceiver.Assembly" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Detail Needed to process the receiver section of an ACH entry.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StandardDocumentHeaderModule">
		<xs:annotation>
			<xs:documentation>Standard document header module</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Sender" type="OrganizationAndIndividualInformationAssembly_1" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies the party who sends the document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Receiver" type="OrganizationAndIndividualInformationAssembly_1" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies the party who receives the document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentDetail" type="DocumentDetailBlock_31" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identification of document</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ==========  Assemblies ========== -->
	<xs:complexType name="OrganizationContactAssembly_12">
		<xs:annotation>
			<xs:documentation>Information that identifies a specific name and electronic or physical location of an organization. | Information used to contact the organization.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrganizationIdentification" type="OrganizationBlock_15" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Organization involved in the document exchange.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="AddressBlock_1" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Describes what is commonly known as the mailing address.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IndividualContactAssembly_2">
		<xs:annotation>
			<xs:documentation>Information that identifies a specific name and electronic or physical location of an individual. | Information used to contact the individual.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="ContactIdentification" type="IndividualBlock_4" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Individual involved in the document exchange.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="IndividualLocation" type="EntityLocationAssembly_4" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Location of Individual involved in the document exchange.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationAndIndividualInformationAssembly_1">
		<xs:annotation>
			<xs:documentation>Organization and Individual Information Assembly | Identifies the organization and provides an individual contact.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrganizationContact" type="OrganizationContactAssembly_12" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Organization involved in the document exchange.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndividualContact" type="IndividualContactAssembly_2" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Individual involved in the document exchange.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AchCcdOriginator.Assembly">
		<xs:annotation>
			<xs:documentation>Information on the originator of a financial transaction. | Detail needed to process the Orginator section of an ACH entry.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AchCcdOriginatorOrganization" type="AchOriginatorCompany.Block" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name and identification of the Originator company.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AchOriginatorAccountDetail" type="OriginatorAccountDetail.Block" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies the originating account.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AchFinancialReceiver.Assembly">
		<xs:annotation>
			<xs:documentation>Information on the receiver of a financial transaction. | Detail Needed to process the receiver section of an ACH entry.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AchReceiverAccountDetail" type="ReceiverAccountDetail.Block" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies the receiver's account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AchReceiverPaymentReference" type="AchCcdPaymentReference.Block" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is an ACH (CCD, CTX, CIE) payment reference number that uniquely identifies this entry so it can be reassociated with it's remittance information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AchReceiverOrganization" type="AchCcdReceiverOrganization.Block" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies the receiving organization.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntityLocationAssembly_4">
		<xs:annotation>
			<xs:documentation>Combination of information that defines a specified individual's or organization's electronic and physical location. | Combination of information that defines a specified individual's or organization's electronic and physical location.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="ElectronicLocation" type="ElectronicLocationBlock_1" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Combination of information that defines a specified individual's or organization's electronic location.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Telephone" type="TelephoneBlock_1" minOccurs="1" maxOccurs="5">
					<xs:annotation>
						<xs:documentation>Comprehensive telephone block, designed to provide definition for the telephone number, and also a variety of characteristics covering use and features.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!-- ==========  Blocks ========== -->
	<xs:complexType name="AchCcdPaymentReference.Block">
		<xs:annotation>
			<xs:documentation>Combination of constructs that together identify a specific resource. | This is an ACH payment reference number that uniquely identifies this entry so it can be reassociated with its remittance information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AchCcdReceiverPaymentReference" type="AchCcdReceiverPayment.Identifier" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is an ACH CCD payment reference number that uniquely identifies this entry so it can be reassociated with it's remittance information.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentDetailBlock_31">
		<xs:annotation>
			<xs:documentation>Specifies a logical or physical document level of contextual information, unique identification number, creation date, etc. | Identification of document.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CreateDateAndTime" type="DateTime_1" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date and time that this instance of the document is generated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstanceIdentifier" type="ResourceIdentifier_85" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An instance identifier is a business document or an arbitrary control number.  The combination of the instance identifier and the creation date and time must be unique in the eyes of the receiver.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressBlock_1">
		<xs:annotation>
			<xs:documentation>Grouping of information used to specify the location address. | Describes what is commonly known as the mailing address.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="StreetAddress" type="LocationText_9" minOccurs="1" maxOccurs="2">
					<xs:annotation>
						<xs:documentation>Specifies the set of details required to fully delineate a street number, as used in postal addressing schemes.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SubsiteAddress" type="SubsiteAddressComponent_1" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Detailed breakout of the information that is often found on the address lines of a mailing address such as apartment, building, department, floor, mail stop, room, and suite.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="City" type="LocationText_1" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Text identifying a city.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CountrySubdivision" type="LocationCode_2" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Largest subdivision of a country.  Examples include US states and Canadian provcinces.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PostalCode" type="LocationIdentifier_1" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Defines international postal code.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Country" type="LocationCode_3" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Code identifying a country.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IndividualBlock_4">
		<xs:annotation>
			<xs:documentation>Identifies the role and identity of an individual. | Identifies an individual by name only.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IndividualName" type="NameText_6" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of the individual involved in the document exchange.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationBlock_15">
		<xs:annotation>
			<xs:documentation>Specifies the role and identity of an organization. | Organization involved in the document exchange</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrganizationName" type="NameText_1" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of the organization involved in the document exchange</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganizationIdentifier" type="PartyIdentifier_29" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies an organization involved in the document exchange</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AchOriginatorCompany.Block">
		<xs:annotation>
			<xs:documentation>Specifies the role and identity of an organization. | This is the company name and identifier of the Originator.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AchOriginatorCompanyName" type="OriginatorCompanyName.Text" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is the company name of the Originator.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginatorCompanyIdentifier" type="OriginatorCompany.Identifier" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies the Originating organization.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AchCcdReceiverOrganization.Block">
		<xs:annotation>
			<xs:documentation>Specifies the role and identity of an organization. | This is the company name and identifier of the Receiver.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AchCcdReceiverCompanyName" type="ACHCCDReceiverCompanyName.Text" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>For an ACH CCD payment, the Originator provides the name of the Receiver company.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TelephoneBlock_1">
		<xs:annotation>
			<xs:documentation>Comprehensive telephone block, designed to provide definition for the telephone number, and also a variety of characteristics covering use and features. | Comprehensive telephone block, designed to provide definition for the telephone number, and also a variety of characteristics covering use and features.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TelephoneNumber" type="LocationText_4" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A word or phrase that constitutes the designation of place.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TelephoneTimeRole" type="DateTimeCode_1" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description not provided</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TelephoneLocationRole" type="LocationCode_4" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description not provided</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TelephoneDevice" type="ResourceCode_1" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description not provided</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TelephoneService" type="ResourceCode_2" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description not provided</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ElectronicLocationBlock_1">
		<xs:annotation>
			<xs:documentation>Combination of information that defines a specified individual's or organization's electronic location. | Combination of information that defines a specified individual's or organization's electronic location.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EmailAddress" type="LocationText_10" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A word or phrase that constitutes the designation of place.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginatorAccountDetail.Block">
		<xs:annotation>
			<xs:documentation>Identification of an organization and an account number at that organization. | Used to identify the ACH entry creator.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AchOriginatorAccountType" type="AchOriginatorAccountType.Code" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Describes the type of account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AchOriginatorAccountNumber" type="AchOriginatorAccountNumber.Identifier" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This field is used to designate the Originator's account that is to be used for this transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AchOriginatorRoutingAndTransitNumber" type="ResourceIdentifier_31" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Routing Number is used to identify the Originator's Depository Financial Institution. (Do we want this from the Originator? Answer: Yes. Allows for banks that have accounts in different states.)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReceiverAccountDetail.Block">
		<xs:annotation>
			<xs:documentation>Identification of an organization and an account number at that organization. | This field is used to designate the Receiver's account that is to be used for this ACH transaction.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AchReceiverRoutingAndTransitNumber" type="ResourceIdentifier_31" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Originator provides the Receiving Depository Financial Institution's Routing Number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AchReceiverAccountNumber" type="AchReceiverAccount.Identifier" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This field is used to designate the Receiver's account that is to be used for this  ACH transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AchCcdTransactionDetail.Block">
		<xs:annotation>
			<xs:documentation>Used for processing the financial information required for a transaction event. | Detail needed to process the monetary section of an ACH CCD entry.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EffectiveEntryDate" type="EffectiveEntryDate.Text" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The effective entry date is the date specified by the Originator on which it intends a batch of entries to be settled.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AchCcdTransactionCode" type="AchCcdTransactionCode.Component" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Provides for the conversion of the ACH CCD Transaction Code to human readable instructions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AchAmount" type="Ach.Amount" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monetary amount required for ACH network processing. The decimal is not used in the NACHA format. Cents are always included. If the "Prenote" indicator is set to "Y" the dollar amount must be zero.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AchCompanyEntryDescription" type="AchCompanyEntryDescription.Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The payment Originator establishes this field as the date it would like to see displayed to the Receiver for descriptive purposes only.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AchCompanyDescriptiveDate" type="AchCompanyDescriptiveDate.Text" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The payment Originator establishes this field as the date it would like to see displayed to the Receiver for descriptive purposes only.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ==========  Components ========== -->
	<xs:complexType name="SubsiteAddressComponent_1">
		<xs:annotation>
			<xs:documentation>Detailed breakout of the information that is often found on the Address Lines of a mailing address such as apartment, building, department, floor, mail stop, room, and suite. | Detailed breakout of the information that is often found on the address lines of a mailing address such as apartment, building, department, floor, mail stop, room, or suite.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="Apartment" type="LocationText_2" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>A single residence in a multi unit dwelling.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Building" type="LocationText_7" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>A single structure.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Department" type="LocationText_7" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>A distinct usually specified division of a large organization.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Floor" type="LocationText_2" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>A story or level of a building.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Room" type="LocationText_2" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>An area seperated by walls or partitions from other similar parts of the building in which it is located.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Suite" type="LocationText_2" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>A series of connected rooms used as a living unit.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AchCcdTransactionCode.Component">
		<xs:annotation>
			<xs:documentation>Allows the conversion and break-down of a numeric transaction code to human readable instructions. | Provides the conversoin of the ACH Transaction Code to human readable instructions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OriginatorAccountTypeIndicator" type="AchOriginatorAccountType.Code" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>To specify that the type of account that the transaction originator wishes to be used for this ACH transaction is a "Checking" or "Savings" account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentOrCollectionIndicator" type="PaymentOrCollectionIndicator.Code" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Originator states that an entry is a Debit or Credit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrenoteIndicator" type="Prenote.Indicator" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Prenote Indicator (Y/N). Originator indicateds with a Yes when the entry is a zero dollar prenote.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ==========  Primitives ========== -->
	<xs:complexType name="Ach.Amount">
		<xs:annotation>
			<xs:documentation>A monetary amount. | Monetary amount required for ACH network processing. The decimal is not used in the NACHA format. Cents are always included. If the "Prenote" indicator is set to "Y" the dollar amount must be zero.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="Ach.Amount_Content">
				<xs:attribute name="CurrencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="CurrencyCodeListVersionIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="Ach.Amount_Content">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999999999"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationIdentifier_1">
		<xs:annotation>
			<xs:documentation>An identifier that designates a place. | Defines international postal code.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationIdentifier_1_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationIdentifier_1_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationText_1">
		<xs:annotation>
			<xs:documentation>A word or phrase that describes a position or site. | A word or phrase that describes a position or site.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationText_1_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationText_1_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationText_10">
		<xs:annotation>
			<xs:documentation>A word or phrase that describes a position or site. | Email Address</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationText_10_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationText_10_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationText_2">
		<xs:annotation>
			<xs:documentation>A word or phrase that describes a position or site. | A specific identifier on a public way or thoroughfare.  i.e. Street Number.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationText_2_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationText_2_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationText_4">
		<xs:annotation>
			<xs:documentation>A word or phrase that describes a position or site. | Telephone Number</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationText_4_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationText_4_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationText_7">
		<xs:annotation>
			<xs:documentation>A word or phrase that describes a position or site. | A word or phrase that describes a position or site.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationText_7_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationText_7_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="55"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationText_9">
		<xs:annotation>
			<xs:documentation>A word or phrase that describes a position or site. | A word or phrase that describes a position or site.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationText_9_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationText_9_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationCode_2">
		<xs:annotation>
			<xs:documentation>A list of codes that designates a place. | The highest level of subdivision within a country.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationCode_2_Content">
				<xs:attribute name="ListIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageIdentifier" type="xs:token" use="optional"/>
				<xs:attribute name="ListURI" type="xs:string" use="optional"/>
				<xs:attribute name="ListSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationCode_2_Content">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationCode_3">
		<xs:annotation>
			<xs:documentation>A list of codes that designates a place. | Code identifying a country.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationCode_3_Content">
				<xs:attribute name="ListIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageIdentifier" type="xs:token" use="optional"/>
				<xs:attribute name="ListURI" type="xs:string" use="optional"/>
				<xs:attribute name="ListSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationCode_3_Content">
		<xs:restriction base="xs:token">
			<xs:minLength value="2"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationCode_4">
		<xs:annotation>
			<xs:documentation>A list of codes that designates a place. | Used to describe where a specific item is located.  Commonly used to differentiate between home and business."  Subelement Information:  (Put in description if don't have another location for now).  Subset of DE365,  Enum 'HP', 'WP'</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationCode_4_Content">
				<xs:attribute name="ListIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageIdentifier" type="xs:token" use="optional"/>
				<xs:attribute name="ListURI" type="xs:string" use="optional"/>
				<xs:attribute name="ListSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationCode_4_Content">
		<xs:restriction base="xs:token">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
			<xs:enumeration value="HP">
				<xs:annotation>
					<xs:documentation>Home Phone</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WP">
				<xs:annotation>
					<xs:documentation>Work Phone</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NameText_1">
		<xs:annotation>
			<xs:documentation>A word or phrase that constitutes the distinctive designation of a person or thing. | A word or phrase that designates a person or thing.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="NameText_1_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="NameText_1_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OriginatorCompanyName.Text">
		<xs:annotation>
			<xs:documentation>A word or phrase that constitutes the distinctive designation of a person or thing. | This is the company name of the ACH Originator.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="OriginatorCompanyName.Text_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="OriginatorCompanyName.Text_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ACHCCDReceiverCompanyName.Text">
		<xs:annotation>
			<xs:documentation>A word or phrase that constitutes the distinctive designation of a person or thing. | The name of the Receiver company in an ACH transaction.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ACHCCDReceiverCompanyName.Text_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ACHCCDReceiverCompanyName.Text_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="22"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NameText_6">
		<xs:annotation>
			<xs:documentation>A word or phrase that constitutes the distinctive designation of a person or thing. | A word or phrase that designates a person or thing.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="NameText_6_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="NameText_6_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PartyIdentifier_29">
		<xs:annotation>
			<xs:documentation>Identifier which uniquely specifies a party, either an Individual or an Organization. | Identifies an organization involved in the message exchange.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="PartyIdentifier_29_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="PartyIdentifier_29_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OriginatorCompany.Identifier">
		<xs:annotation>
			<xs:documentation>Identifier which uniquely specifies a party, either an Individual or an Organization. | The Company Identification is an alphanumeric code used to identify an Originator. This value is typically assigned to the Originator by its financial institution.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="OriginatorCompany.Identifier_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="OriginatorCompany.Identifier_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DateTime_1">
		<xs:annotation>
			<xs:documentation>Specifies a date and/or time | Date and/or Time.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:dateTime"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ResourceCode_1">
		<xs:annotation>
			<xs:documentation>Specifies a supply or support. i.e. material or service. | Type of telephone. i.e. Facsimile, Landline, Mobile.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ResourceCode_1_Content">
				<xs:attribute name="ListIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageIdentifier" type="xs:token" use="optional"/>
				<xs:attribute name="ListURI" type="xs:string" use="optional"/>
				<xs:attribute name="ListSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ResourceCode_1_Content">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Fax">
				<xs:annotation>
					<xs:documentation>Facsimile</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Landline">
				<xs:annotation>
					<xs:documentation>Landline</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Mobile">
				<xs:annotation>
					<xs:documentation>Mobile</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Pager">
				<xs:annotation>
					<xs:documentation>Pager</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PDA">
				<xs:annotation>
					<xs:documentation>Personal Data Assistant</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ResourceCode_2">
		<xs:annotation>
			<xs:documentation>Specifies a supply or support. i.e. material or service. | Type of service expected for the telephone.  i.e. Answering service.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ResourceCode_2_Content">
				<xs:attribute name="ListIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageIdentifier" type="xs:token" use="optional"/>
				<xs:attribute name="ListURI" type="xs:string" use="optional"/>
				<xs:attribute name="ListSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ResourceCode_2_Content">
		<xs:restriction base="xs:token">
			<xs:enumeration value="AS">
				<xs:annotation>
					<xs:documentation>Answering Service</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OSB">
				<xs:annotation>
					<xs:documentation>Operator Standing By</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VM">
				<xs:annotation>
					<xs:documentation>Voice Mail</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ResourceIdentifier_31">
		<xs:annotation>
			<xs:documentation>Specified a supply or support, i.e. material or service. | American Banking Association Bank Routing Identifier</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ResourceIdentifier_31_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ResourceIdentifier_31_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ResourceIdentifier_85">
		<xs:annotation>
			<xs:documentation>Specified a supply or support, i.e. material or service. | Name of the organization involved in the message exchange.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ResourceIdentifier_85_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ResourceIdentifier_85_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AchCcdReceiverPayment.Identifier">
		<xs:annotation>
			<xs:documentation>Specified a supply or support, i.e. material or service. | This is an ACH CCD payment reference number that uniquely identifies this entry so it can be reassociated with its remittance information.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="AchCcdReceiverPayment.Identifier_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="AchCcdReceiverPayment.Identifier_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AchOriginatorAccountNumber.Identifier">
		<xs:annotation>
			<xs:documentation>Specified a supply or support, i.e. material or service. | This field is used to designate the ACH Originator's account that is to be used for this transaction.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="AchOriginatorAccountNumber.Identifier_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="AchOriginatorAccountNumber.Identifier_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AchReceiverAccount.Identifier">
		<xs:annotation>
			<xs:documentation>Specified a supply or support, i.e. material or service. | This field is used to designate the Receiver's account that is to be used for this ACH transaction.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="AchReceiverAccount.Identifier_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="AchReceiverAccount.Identifier_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PaymentOrCollectionIndicator.Code">
		<xs:annotation>
			<xs:documentation>Something that supports a conclusion or explains a fact.  Describes or specifies the statement offered in explanation or justification or motivation.  May answer the question why. | Originator states that an entry is a Debit or Credit.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="PaymentOrCollectionIndicator.Code_Content">
				<xs:attribute name="ListIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="NameText" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageIdentifier" type="xs:token" use="optional"/>
				<xs:attribute name="ListURI" type="xs:string" use="optional"/>
				<xs:attribute name="ListSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="PaymentOrCollectionIndicator.Code_Content">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Credit">
				<xs:annotation>
					<xs:documentation>Credit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Debit">
				<xs:annotation>
					<xs:documentation>Debit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AchOriginatorAccountType.Code">
		<xs:annotation>
			<xs:documentation>Describes or specifies the intended outcome. May answer the question what. | To specify the type of account that the transaction originator wishes to be used for this ACH transaction.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="AchOriginatorAccountType.Code_Content">
				<xs:attribute name="ListIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="NameText" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageIdentifier" type="xs:token" use="optional"/>
				<xs:attribute name="ListURI" type="xs:string" use="optional"/>
				<xs:attribute name="ListSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="AchOriginatorAccountType.Code_Content">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Checking">
				<xs:annotation>
					<xs:documentation>Checking</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Savings">
				<xs:annotation>
					<xs:documentation>Savings</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AchCompanyEntryDescription.Text">
		<xs:annotation>
			<xs:documentation>Discourse intended to give a mental image of something. | The Payment Originator establishes the value of this field to provide a description of the purpose of the entry to be displayed back to the Receiver.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="AchCompanyEntryDescription.Text_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="AchCompanyEntryDescription.Text_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DateTimeCode_1">
		<xs:annotation>
			<xs:documentation>Used for textual date time representations.  i.e.  When describing Day, Night, Morning, Afternoon, Evening, etc. | Represents a portion of the day that is commonly associated with the sun coming up and going down.  Subelement Information:  (Put in description if don't have another location for now)  Subset of DE365,  Enum  'NP',  Note:  Will have to add 'DP - Daytime</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:token">
				<xs:attribute name="ListIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageIdentifier" type="xs:token" use="optional"/>
				<xs:attribute name="ListURI" type="xs:string" use="optional"/>
				<xs:attribute name="ListSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Prenote.Indicator">
		<xs:annotation>
			<xs:documentation>Identifies if the details of the construct are being mentioned in order to include or exclude them from consideration. | Originator indicating whether an entry is a prenote with a "Yes" or "No". | A "Yes" value indicates a Prenote.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="Prenote.Indicator_Content"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="Prenote.Indicator_Content">
		<xs:restriction base="xs:token">
			<xs:enumeration value="No">
				<xs:annotation>
					<xs:documentation>No</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Yes">
				<xs:annotation>
					<xs:documentation>Yes</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AchCompanyDescriptiveDate.Text">
		<xs:annotation>
			<xs:documentation>Part of a complete date time combination. (i.e. Year as CCYY or Time as HHMM) | The payment Originator establishes this field as the date (as YYMMDD) it would like to see displayed to the Receiver for descriptive purposes only.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="AchCompanyDescriptiveDate.Text_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="AchCompanyDescriptiveDate.Text_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="\d\d\d\d\d\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EffectiveEntryDate.Text">
		<xs:annotation>
			<xs:documentation>Part of a complete date time combination. (i.e. Year as CCYY or Time as HHMM) | The effective entry date is the date (CCYYMMDD) specified by the Originator on which it intends a batch of entries to be settled.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="EffectiveEntryDate.Text_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="EffectiveEntryDate.Text_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="\d\d\d\d\d\d\d\d"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ==========  Common Derived Datatypes ========== -->
	<xs:simpleType name="JulianDate">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d\d\d\d\d\d\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="JulianDayOfYear">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d\d\d"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ==========  Publication Version Type ========== -->
	<xs:simpleType name="PublicationVersionType">
		<xs:restriction base="xs:token">
			<xs:pattern value="\d\d\d\d\d\d\d\d"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
