src/main/resources/schemaLib/HL7/ver2010/multicacheschemas/COCT_HD770000UV09.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3"
           xmlns:ex="urn:hl7-org/v3-example"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type COCT_HD770000UV09.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* Saved in XML file by RMIM Designer in Visio at 2010-04-28T15:49:09
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8360 2009-10-26 06:00:22Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.3.3
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8360 2009-10-26 06:00:22Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.3.3. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2010-04-28T15:49:09
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8360 2009-10-26 06:00:22Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT780005UV09.xsd"/>
   <xs:include schemaLocation="COCT_MT530000UV.xsd"/>
   <xs:complexType name="COCT_HD770000UV09.Benefit">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="precondition" type="COCT_HD770000UV09.Precondition" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reference" type="COCT_HD770000UV09.Reference" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="coverage" type="COCT_HD770000UV09.Coverage2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="limitation" type="COCT_HD770000UV09.Limitation2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassCareProvision" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_HD770000UV09.Coverage2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="coverageDefinition" type="COCT_HD770000UV09.CoverageDefinition"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipCoveredBy" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_HD770000UV09.CoverageCharge">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="unitQuantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="unitPriceAmt" type="RTO_MO_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="netAmt" type="MO" minOccurs="0" maxOccurs="1"/>
         <xs:element name="factorNumber" type="REAL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="inFulfillmentOf" type="COCT_HD770000UV09.InFulfillmentOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reference" type="COCT_HD770000UV09.Reference2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassInvoiceElement" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodCriterion" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_HD770000UV09.CoverageChargePolicy">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassPolicy" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_HD770000UV09.CoverageDefinition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="title" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="limitation" type="COCT_HD770000UV09.Limitation3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassCoverage" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_HD770000UV09.CoveragePolicy">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassPolicy" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_HD770000UV09.FinancialParticipationCharge">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="unitQuantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="unitPriceAmt" type="RTO_MO_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="netAmt" type="MO" minOccurs="0" maxOccurs="1"/>
         <xs:element name="factorNumber" type="REAL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reference" type="COCT_HD770000UV09.Reference2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassInvoiceElement" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodCriterion" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_HD770000UV09.InFulfillmentOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="providerContract" type="COCT_MT780005UV09.ProviderContract"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipFulfills" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_HD770000UV09.Limitation2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="coverageCharge" type="COCT_HD770000UV09.CoverageCharge" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="financialParticipationCharge"
                        type="COCT_HD770000UV09.FinancialParticipationCharge"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipLimitedBy" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_HD770000UV09.Limitation3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="policyOrProgramFinancialLimit"
                     type="COCT_HD770000UV09.PolicyOrProgramFinancialLimit"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipLimitedBy" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_HD770000UV09.PolicyOrProgramFinancialLimit">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="netAmt" type="MO" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassInvoiceElement" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodCriterion" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_HD770000UV09.Precondition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="observation" type="COCT_MT530000UV.Observation" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="substanceAdministration" type="COCT_MT530000UV.SubstanceAdministration"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="supply" type="COCT_MT530000UV.Supply" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="procedure" type="COCT_MT530000UV.Procedure" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="encounter" type="COCT_MT530000UV.Encounter" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="act" type="COCT_MT530000UV.Act" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="organizer" type="COCT_MT530000UV.Organizer" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:element name="actReference" type="COCT_MT530000UV.ActReference" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasPre-condition" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_HD770000UV09.Reference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="coveragePolicy" type="COCT_HD770000UV09.CoveragePolicy" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipRefersTo" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_HD770000UV09.Reference2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="coverageChargePolicy" type="COCT_HD770000UV09.CoverageChargePolicy"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipRefersTo" use="required"/>
   </xs:complexType>
</xs:schema>