src/main/resources/schemaLib/HL7/ver2010/multicacheschemas/PRPA_MT101302UV02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3"
           xmlns:ex="urn:hl7-org/v3-example"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type PRPA_MT101302UV02.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* Saved in XML file by RMIM Designer in Visio at 2009-07-30T10:48:54
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8360 2009-10-26 06:00:22Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.3.3
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8360 2009-10-26 06:00:22Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.3.3. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2009-07-30T10:48:54
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8360 2009-10-26 06:00:22Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT150003UV03.xsd"/>
   <xs:include schemaLocation="COCT_MT150007UV.xsd"/>
   <xs:include schemaLocation="COCT_MT150002UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT710007UV07.xsd"/>
   <xs:include schemaLocation="COCT_MT960000UV05.xsd"/>
   <xs:include schemaLocation="COCT_MT030207UV07.xsd"/>
   <xs:complexType name="PRPA_MT101302UV02.AdministrativeObservation.id">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV02.AdministrativeObservation.id.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.AdministrativeObservation.id.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.AdministrativeObservation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="PRPA_MT101302UV02.AdministrativeObservation.id" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV02.BirthPlace.addr" mixed="true">
      <xs:complexContent>
         <xs:extension base="AD">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.BirthPlace.addr.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.BirthPlace.addr.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.BirthPlace.subjectOf">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV02.Subject2">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.BirthPlace.subjectOf.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.BirthPlace.subjectOf.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.BirthPlace">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="addr" type="PRPA_MT101302UV02.BirthPlace.addr" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="birthplace" type="COCT_MT710007UV07.Place" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="PRPA_MT101302UV02.BirthPlace.subjectOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="BIRTHPL"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV02.Citizen.id">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Citizen.id.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Citizen.id.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Citizen.effectiveTime">
      <xs:complexContent>
         <xs:extension base="IVL_TS">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Citizen.effectiveTime.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Citizen.effectiveTime.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Citizen.politicalNation">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV02.Nation">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Citizen.politicalNation.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Citizen.politicalNation.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Citizen">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="PRPA_MT101302UV02.Citizen.id" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="effectiveTime" type="PRPA_MT101302UV02.Citizen.effectiveTime"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="politicalNation" type="PRPA_MT101302UV02.Citizen.politicalNation"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="CIT"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV02.ContactParty.id">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.ContactParty.id.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.ContactParty.id.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.ContactParty.code">
      <xs:complexContent>
         <xs:extension base="CE">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.ContactParty.code.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.ContactParty.code.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.ContactParty.negationInd">
      <xs:complexContent>
         <xs:extension base="BL">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.ContactParty.negationInd.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.ContactParty.negationInd.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.ContactParty.addr" mixed="true">
      <xs:complexContent>
         <xs:extension base="AD">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.ContactParty.addr.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.ContactParty.addr.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.ContactParty.telecom">
      <xs:complexContent>
         <xs:extension base="TEL">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.ContactParty.telecom.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.ContactParty.telecom.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.ContactParty.statusCode">
      <xs:complexContent>
         <xs:extension base="CS">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.ContactParty.statusCode.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.ContactParty.statusCode.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.ContactParty.effectiveTime">
      <xs:complexContent>
         <xs:extension base="IVL_TS">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV02.ContactParty.effectiveTime.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.ContactParty.effectiveTime.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.ContactParty.contactPerson">
      <xs:complexContent>
         <xs:extension base="COCT_MT030207UV07.Person">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV02.ContactParty.contactPerson.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.ContactParty.contactPerson.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.ContactParty.contactOrganization">
      <xs:complexContent>
         <xs:extension base="COCT_MT150007UV.Organization">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV02.ContactParty.contactOrganization.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.ContactParty.contactOrganization.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.ContactParty">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="PRPA_MT101302UV02.ContactParty.id" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="code" type="PRPA_MT101302UV02.ContactParty.code" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="addr" type="PRPA_MT101302UV02.ContactParty.addr" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="telecom" type="PRPA_MT101302UV02.ContactParty.telecom" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="PRPA_MT101302UV02.ContactParty.statusCode"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="effectiveTime" type="PRPA_MT101302UV02.ContactParty.effectiveTime"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:choice>
            <xs:element name="contactPerson" type="PRPA_MT101302UV02.ContactParty.contactEntityChoice"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="contactOrganization"
                        type="PRPA_MT101302UV02.ContactParty.contactEntityChoice"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassContact" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV02.Employee.id">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Employee.id.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Employee.id.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Employee.negationInd">
      <xs:complexContent>
         <xs:extension base="BL">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Employee.negationInd.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Employee.negationInd.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Employee.addr" mixed="true">
      <xs:complexContent>
         <xs:extension base="AD">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Employee.addr.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Employee.addr.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Employee.telecom">
      <xs:complexContent>
         <xs:extension base="TEL">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Employee.telecom.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Employee.telecom.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Employee.statusCode">
      <xs:complexContent>
         <xs:extension base="CS">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Employee.statusCode.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Employee.statusCode.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Employee.effectiveTime">
      <xs:complexContent>
         <xs:extension base="IVL_TS">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Employee.effectiveTime.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Employee.effectiveTime.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Employee.jobTitleName" mixed="true">
      <xs:complexContent>
         <xs:extension base="SC">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Employee.jobTitleName.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Employee.jobTitleName.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Employee.jobClassCode">
      <xs:complexContent>
         <xs:extension base="CE">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Employee.jobClassCode.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Employee.jobClassCode.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Employee.occupationCode">
      <xs:complexContent>
         <xs:extension base="CE">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Employee.occupationCode.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Employee.occupationCode.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Employee.employerOrganization">
      <xs:complexContent>
         <xs:extension base="COCT_MT150007UV.Organization">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV02.Employee.employerOrganization.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Employee.employerOrganization.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Employee">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="PRPA_MT101302UV02.Employee.id" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="addr" type="PRPA_MT101302UV02.Employee.addr" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="telecom" type="PRPA_MT101302UV02.Employee.telecom" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="PRPA_MT101302UV02.Employee.statusCode" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="effectiveTime" type="PRPA_MT101302UV02.Employee.effectiveTime"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="jobTitleName" type="PRPA_MT101302UV02.Employee.jobTitleName"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="jobClassCode" type="PRPA_MT101302UV02.Employee.jobClassCode"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="occupationCode" type="PRPA_MT101302UV02.Employee.occupationCode"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="employerOrganization"
                     type="PRPA_MT101302UV02.Employee.employerOrganization"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassEmployee" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV02.Group">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="existenceTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV02.Guardian.id">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Guardian.id.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Guardian.id.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Guardian.negationInd">
      <xs:complexContent>
         <xs:extension base="BL">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Guardian.negationInd.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Guardian.negationInd.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Guardian.addr" mixed="true">
      <xs:complexContent>
         <xs:extension base="AD">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Guardian.addr.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Guardian.addr.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Guardian.telecom">
      <xs:complexContent>
         <xs:extension base="TEL">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Guardian.telecom.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Guardian.telecom.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Guardian.statusCode">
      <xs:complexContent>
         <xs:extension base="CS">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Guardian.statusCode.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Guardian.statusCode.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Guardian.effectiveTime">
      <xs:complexContent>
         <xs:extension base="IVL_TS">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Guardian.effectiveTime.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Guardian.effectiveTime.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Guardian.certificateText" mixed="true">
      <xs:complexContent>
         <xs:extension base="ED">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Guardian.certificateText.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Guardian.certificateText.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Guardian.guardianPerson">
      <xs:complexContent>
         <xs:extension base="COCT_MT030207UV07.Person">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Guardian.guardianPerson.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Guardian.guardianPerson.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Guardian.guardianOrganization">
      <xs:complexContent>
         <xs:extension base="COCT_MT150007UV.Organization">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV02.Guardian.guardianOrganization.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Guardian.guardianOrganization.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Guardian">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="PRPA_MT101302UV02.Guardian.id" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="addr" type="PRPA_MT101302UV02.Guardian.addr" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="telecom" type="PRPA_MT101302UV02.Guardian.telecom" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="PRPA_MT101302UV02.Guardian.statusCode" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="effectiveTime" type="PRPA_MT101302UV02.Guardian.effectiveTime"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="certificateText" type="PRPA_MT101302UV02.Guardian.certificateText"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:choice>
            <xs:element name="guardianPerson" type="PRPA_MT101302UV02.Guardian.guardianEntityChoice"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="guardianOrganization"
                        type="PRPA_MT101302UV02.Guardian.guardianEntityChoice"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="GUARD"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV02.IdentifiedPerson.id">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.IdentifiedPerson.id.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.IdentifiedPerson.id.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.IdentifiedPerson.addr" mixed="true">
      <xs:complexContent>
         <xs:extension base="AD">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.IdentifiedPerson.addr.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.IdentifiedPerson.addr.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.IdentifiedPerson.telecom">
      <xs:complexContent>
         <xs:extension base="TEL">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.IdentifiedPerson.telecom.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.IdentifiedPerson.telecom.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.IdentifiedPerson.statusCode">
      <xs:complexContent>
         <xs:extension base="CS">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV02.IdentifiedPerson.statusCode.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.IdentifiedPerson.statusCode.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.IdentifiedPerson.effectiveTime">
      <xs:complexContent>
         <xs:extension base="IVL_TS">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV02.IdentifiedPerson.effectiveTime.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.IdentifiedPerson.effectiveTime.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.IdentifiedPerson.confidentialityCode">
      <xs:complexContent>
         <xs:extension base="CE">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV02.IdentifiedPerson.confidentialityCode.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.IdentifiedPerson.confidentialityCode.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.IdentifiedPerson.identifiedPerson">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV02.Person">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV02.IdentifiedPerson.identifiedPerson.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.IdentifiedPerson.identifiedPerson.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.IdentifiedPerson.assigningOrganization">
      <xs:complexContent>
         <xs:extension base="COCT_MT150003UV03.Organization">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV02.IdentifiedPerson.assigningOrganization.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.IdentifiedPerson.assigningOrganization.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.IdentifiedPerson">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="PRPA_MT101302UV02.IdentifiedPerson.id" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="addr" type="PRPA_MT101302UV02.IdentifiedPerson.addr" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="telecom" type="PRPA_MT101302UV02.IdentifiedPerson.telecom" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="PRPA_MT101302UV02.IdentifiedPerson.statusCode"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="effectiveTime" type="PRPA_MT101302UV02.IdentifiedPerson.effectiveTime"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="confidentialityCode"
                     type="PRPA_MT101302UV02.IdentifiedPerson.confidentialityCode"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="identifiedPerson"
                     type="PRPA_MT101302UV02.IdentifiedPerson.identifiedPerson"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="assigningOrganization"
                     type="PRPA_MT101302UV02.IdentifiedPerson.assigningOrganization"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="PRPA_MT101302UV02.Subject4" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassIdentifiedEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV02.LanguageCommunication">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="languageCode" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="proficiencyLevelCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="preferenceInd" type="BL" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV02.Member.id">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Member.id.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Member.id.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Member">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="PRPA_MT101302UV02.Member.id" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="group" type="PRPA_MT101302UV02.Group" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassMember" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV02.Nation.code">
      <xs:complexContent>
         <xs:extension base="CE">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Nation.code.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Nation.code.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Nation.name" mixed="true">
      <xs:complexContent>
         <xs:extension base="ON">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Nation.name.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Nation.name.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Nation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="PRPA_MT101302UV02.Nation.code" minOccurs="1" maxOccurs="1"/>
         <xs:element name="name" type="PRPA_MT101302UV02.Nation.name" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="NAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV02.OtherIDs.id">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.OtherIDs.id.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.OtherIDs.id.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.OtherIDs.statusCode">
      <xs:complexContent>
         <xs:extension base="CS">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.OtherIDs.statusCode.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.OtherIDs.statusCode.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.OtherIDs.effectiveTime">
      <xs:complexContent>
         <xs:extension base="IVL_TS">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.OtherIDs.effectiveTime.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.OtherIDs.effectiveTime.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.OtherIDs.scopingOrganization">
      <xs:complexContent>
         <xs:extension base="COCT_MT150002UV01.Organization">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV02.OtherIDs.scopingOrganization.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.OtherIDs.scopingOrganization.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.OtherIDs">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="PRPA_MT101302UV02.OtherIDs.id" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="PRPA_MT101302UV02.OtherIDs.statusCode" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="effectiveTime" type="PRPA_MT101302UV02.OtherIDs.effectiveTime"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="scopingOrganization"
                     type="PRPA_MT101302UV02.OtherIDs.scopingOrganization"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV02.Person.id">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Person.id.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Person.id.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Person.name" mixed="true">
      <xs:complexContent>
         <xs:extension base="PN">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Person.name.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Person.name.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Person.desc" mixed="true">
      <xs:complexContent>
         <xs:extension base="ED">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Person.desc.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Person.desc.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Person.telecom">
      <xs:complexContent>
         <xs:extension base="TEL">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Person.telecom.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Person.telecom.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Person.administrativeGenderCode">
      <xs:complexContent>
         <xs:extension base="CE">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV02.Person.administrativeGenderCode.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Person.administrativeGenderCode.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Person.birthTime">
      <xs:complexContent>
         <xs:extension base="TS">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Person.birthTime.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Person.birthTime.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Person.deceasedInd">
      <xs:complexContent>
         <xs:extension base="BL">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Person.deceasedInd.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Person.deceasedInd.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Person.deceasedTime">
      <xs:complexContent>
         <xs:extension base="TS">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Person.deceasedTime.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Person.deceasedTime.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Person.multipleBirthInd">
      <xs:complexContent>
         <xs:extension base="BL">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Person.multipleBirthInd.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Person.multipleBirthInd.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Person.multipleBirthOrderNumber">
      <xs:complexContent>
         <xs:extension base="INT">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV02.Person.multipleBirthOrderNumber.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Person.multipleBirthOrderNumber.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Person.organDonorInd">
      <xs:complexContent>
         <xs:extension base="BL">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Person.organDonorInd.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Person.organDonorInd.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Person.addr" mixed="true">
      <xs:complexContent>
         <xs:extension base="AD">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Person.addr.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Person.addr.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Person.maritalStatusCode">
      <xs:complexContent>
         <xs:extension base="CE">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Person.maritalStatusCode.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Person.maritalStatusCode.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Person.asEmployee">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV02.Employee">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Person.asEmployee.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Person.asEmployee.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Person.asCitizen">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV02.Citizen">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Person.asCitizen.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Person.asCitizen.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Person.asStudent">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV02.Student">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Person.asStudent.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Person.asStudent.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Person.asOtherIDs">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV02.OtherIDs">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Person.asOtherIDs.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Person.asOtherIDs.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Person.contactParty">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV02.ContactParty">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Person.contactParty.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Person.contactParty.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Person.guardian">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV02.Guardian">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Person.guardian.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Person.guardian.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Person.personalRelationship">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV02.PersonalRelationship">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV02.Person.personalRelationship.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Person.personalRelationship.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Person.birthPlace">
      <xs:complexContent>
         <xs:extension base="PRPA_MT101302UV02.BirthPlace">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Person.birthPlace.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Person.birthPlace.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Person">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="PRPA_MT101302UV02.Person.id" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="name" type="PRPA_MT101302UV02.Person.name" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="desc" type="PRPA_MT101302UV02.Person.desc" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="PRPA_MT101302UV02.Person.telecom" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="administrativeGenderCode"
                     type="PRPA_MT101302UV02.Person.administrativeGenderCode"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="birthTime" type="PRPA_MT101302UV02.Person.birthTime" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="deceasedInd" type="PRPA_MT101302UV02.Person.deceasedInd" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="deceasedTime" type="PRPA_MT101302UV02.Person.deceasedTime" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="multipleBirthInd" type="PRPA_MT101302UV02.Person.multipleBirthInd"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="multipleBirthOrderNumber"
                     type="PRPA_MT101302UV02.Person.multipleBirthOrderNumber"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="organDonorInd" type="PRPA_MT101302UV02.Person.organDonorInd"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="addr" type="PRPA_MT101302UV02.Person.addr" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="maritalStatusCode" type="PRPA_MT101302UV02.Person.maritalStatusCode"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="asEmployee" type="PRPA_MT101302UV02.Person.asEmployee" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asCitizen" type="PRPA_MT101302UV02.Person.asCitizen" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asStudent" type="PRPA_MT101302UV02.Person.asStudent" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asMember" type="PRPA_MT101302UV02.Member" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asOtherIDs" type="PRPA_MT101302UV02.Person.asOtherIDs" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="contactParty" type="PRPA_MT101302UV02.Person.contactParty"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="guardian" type="PRPA_MT101302UV02.Person.guardian" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="personalRelationship"
                     type="PRPA_MT101302UV02.Person.personalRelationship"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="birthPlace" type="PRPA_MT101302UV02.Person.birthPlace" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="languageCommunication" type="PRPA_MT101302UV02.LanguageCommunication"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV02.PersonalRelationship.id">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.PersonalRelationship.id.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.PersonalRelationship.id.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.PersonalRelationship.code">
      <xs:complexContent>
         <xs:extension base="CE">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.PersonalRelationship.code.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.PersonalRelationship.code.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.PersonalRelationship.negationInd">
      <xs:complexContent>
         <xs:extension base="BL">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV02.PersonalRelationship.negationInd.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.PersonalRelationship.negationInd.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.PersonalRelationship.addr" mixed="true">
      <xs:complexContent>
         <xs:extension base="AD">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.PersonalRelationship.addr.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.PersonalRelationship.addr.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.PersonalRelationship.telecom">
      <xs:complexContent>
         <xs:extension base="TEL">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV02.PersonalRelationship.telecom.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.PersonalRelationship.telecom.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.PersonalRelationship.statusCode">
      <xs:complexContent>
         <xs:extension base="CS">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV02.PersonalRelationship.statusCode.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.PersonalRelationship.statusCode.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.PersonalRelationship.effectiveTime">
      <xs:complexContent>
         <xs:extension base="IVL_TS">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV02.PersonalRelationship.effectiveTime.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.PersonalRelationship.effectiveTime.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.PersonalRelationship">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="PRPA_MT101302UV02.PersonalRelationship.id" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="code" type="PRPA_MT101302UV02.PersonalRelationship.code" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="addr" type="PRPA_MT101302UV02.PersonalRelationship.addr" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="telecom" type="PRPA_MT101302UV02.PersonalRelationship.telecom"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="PRPA_MT101302UV02.PersonalRelationship.statusCode"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="effectiveTime"
                     type="PRPA_MT101302UV02.PersonalRelationship.effectiveTime"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="relationshipHolder" type="COCT_MT030207UV07.Person" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PRS"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV02.Student.id">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Student.id.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Student.id.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Student.addr" mixed="true">
      <xs:complexContent>
         <xs:extension base="AD">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Student.addr.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Student.addr.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Student.telecom">
      <xs:complexContent>
         <xs:extension base="TEL">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Student.telecom.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Student.telecom.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Student.statusCode">
      <xs:complexContent>
         <xs:extension base="CS">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Student.statusCode.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Student.statusCode.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Student.effectiveTime">
      <xs:complexContent>
         <xs:extension base="IVL_TS">
            <xs:attribute name="updateMode" type="PRPA_MT101302UV02.Student.effectiveTime.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Student.effectiveTime.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Student.schoolOrganization">
      <xs:complexContent>
         <xs:extension base="COCT_MT150007UV.Organization">
            <xs:attribute name="updateMode"
                          type="PRPA_MT101302UV02.Student.schoolOrganization.updateMode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="PRPA_MT101302UV02.Student.schoolOrganization.updateMode">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PRPA_MT101302UV02.Student">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="PRPA_MT101302UV02.Student.id" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="addr" type="PRPA_MT101302UV02.Student.addr" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="telecom" type="PRPA_MT101302UV02.Student.telecom" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="PRPA_MT101302UV02.Student.statusCode" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="effectiveTime" type="PRPA_MT101302UV02.Student.effectiveTime"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="schoolOrganization" type="PRPA_MT101302UV02.Student.schoolOrganization"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="STD"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV02.Subject2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="position" type="COCT_MT960000UV05.Position" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="SBJ"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT101302UV02.Subject4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="administrativeObservation"
                     type="PRPA_MT101302UV02.AdministrativeObservation"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
   </xs:complexType>
</xs:schema>