src/main/resources/schemaLib/ver201212/Government/G49.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns="urn:x12:schemas:V00201202:DoDApplicationResponseDocument" xmlns:X12.7="urn:x12:schemas:V00201002:X12.7" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:x12:schemas:V00201202:DoDApplicationResponseDocument" elementFormDefault="qualified" attributeFormDefault="unqualified" version="00201202" X12.7:PublicationDate="2012-02-12">
	<!-- ==========  Document ========== -->
	<xs:element name="DoDApplicationResponseDocument">
		<xs:annotation>
			<xs:documentation>Department of Defense general application response to a previously submitted Document (such as a confirmation or rejection notification) | In the context of the US Department of Defense, this is used as a system response to the sender of the original message, containing either informational or error (rejected) data.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="StandardDocumentHeader" type="StandardDocumentHeaderModule" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Used to convey standardized header information for this unique Application Response Document.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StandardOriginalDocumentHeader" type="StandardDocumentHeaderModule" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Used to convey standardized header information about the original document itself for which this document is referring, such as document identification and date.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Detail" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DodEnterpriseDocumentHeader" type="DoDDocumentHeaderModule" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Information about the US Department of Defense Document itself, such as Document Identification and date.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ApplicationResponseDetails" type="DocumentStatusModule" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Specific details regarding an action in response to the syntax or semantics of a document (not an item), such as received, rejected, accepted.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="PublicationVersion" type="PublicationVersionType" use="required"/>
			<xs:attribute name="PublicationDate" type="xs:date" use="required"/>
		</xs:complexType>
	</xs:element>
	<!-- ==========  Modules ========== -->
	<xs:complexType name="DoDDocumentHeaderModule">
		<xs:annotation>
			<xs:documentation>Information about the US Department of Defense Document itself, such as Document Identification and date.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocumentDetail" type="DocumentDetailBlock_11" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Details specific to ithe document itself, such as identification and document creation date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InformationCopy" type="TradingPartnerAssembly_1" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identification of an organization, commercial trading partner, its address, POC and its geographical location.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentStatusModule">
		<xs:annotation>
			<xs:documentation>Information describing the processed status of a US Department of Defense message.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StatusDetail" type="StatusInformationBlock_9" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The details of the status of the original message being referenced.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ErrorInformation" type="ConstructErrorBlock_2" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The application error(s) that the original Document contains</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StandardDocumentHeaderModule">
		<xs:annotation>
			<xs:documentation>Standard document header module</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Sender" type="OrganizationAndIndividualInformationAssembly_1" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies the party who sends the document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Receiver" type="OrganizationAndIndividualInformationAssembly_1" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies the party who receives the document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentDetail" type="DocumentDetailBlock_31" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identification of document</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ==========  Assemblies ========== -->
	<xs:complexType name="OrganizationContactAssembly_12">
		<xs:annotation>
			<xs:documentation>Information that identifies a specific name and electronic or physical location of an organization. | Information used to contact the organization.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrganizationIdentification" type="OrganizationBlock_15" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Organization involved in the document exchange.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="AddressBlock_1" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Describes what is commonly known as the mailing address.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IndividualContactAssembly_2">
		<xs:annotation>
			<xs:documentation>Information that identifies a specific name and electronic or physical location of an individual. | Information used to contact the individual.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="ContactIdentification" type="IndividualBlock_4" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Individual involved in the document exchange.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="IndividualLocation" type="EntityLocationAssembly_4" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Location of Individual involved in the document exchange.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradingPartnerAssembly_1">
		<xs:annotation>
			<xs:documentation>Identifies contact information of party. | Identifies contact information of party.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="DoDOrganizationIdentifier" type="OrganizationBlock_7" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>The US Department of Defense Organizational Identifier.  Specifies the type and identity of an organization.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OrganizationLocation" type="EntityLocationAssembly_2" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Combination of information that defines a specified individual's or organization's electronic and physical location.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="IndividualContactAssembly" type="IndividualContactAssembly_2" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Assembly of individual contact information.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="IndividualContactAssembly2" type="IndividualContactAssembly_2" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Another assembly of individual contact information.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationAndIndividualInformationAssembly_1">
		<xs:annotation>
			<xs:documentation>Organization and Individual Information Assembly | Identifies the organization and provides an individual contact.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrganizationContact" type="OrganizationContactAssembly_12" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Organization involved in the document exchange.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndividualContact" type="IndividualContactAssembly_2" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Individual involved in the document exchange.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntityLocationAssembly_2">
		<xs:annotation>
			<xs:documentation>Combination of information that defines a specified individual's or organization's electronic and physical location. | Combination of information that defines a specified individual's or organization's electronic and physical location.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Address" type="AddressBlock_1" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Describes what is commonly known as the mailing address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ElectronicLocation" type="ElectronicLocationBlock_1" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Combination of information that defines a specified individual's or organization's electronic location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TelephoneDetail" type="TelephoneBlock_1" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Comprehensive telephone block, designed to provide definition for the telephone number and a variety of characteristics covering use and features.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntityLocationAssembly_4">
		<xs:annotation>
			<xs:documentation>Combination of information that defines a specified individual's or organization's electronic and physical location. | Combination of information that defines a specified individual's or organization's electronic and physical location.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="ElectronicLocation" type="ElectronicLocationBlock_1" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Combination of information that defines a specified individual's or organization's electronic location.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Telephone" type="TelephoneBlock_1" minOccurs="1" maxOccurs="5">
					<xs:annotation>
						<xs:documentation>Comprehensive telephone block, designed to provide definition for the telephone number, and also a variety of characteristics covering use and features.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!-- ==========  Blocks ========== -->
	<xs:complexType name="StatusInformationBlock_9">
		<xs:annotation>
			<xs:documentation>Describes a specific status. | Describes the status of the processing of a CAV (Commercial Asset Visibility) message.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReportDateTime" type="ParsedDateTimeComponent_1" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date/time of this response.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ErrorDescription" type="DescriptionText_4" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The description of the error.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusCode" type="EventCode_11" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The CAV-specific message status code.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentDetailBlock_11">
		<xs:annotation>
			<xs:documentation>Specifies a logical or physical document level of contextual information, unique identification number, creation date, etc. | US Department of Defense-specific details of the Document itself, such as Document identification and date of creation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocumentDate" type="DateTime_1" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and/or time that this document was created.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentIdentifierCode" type="PurposeCode_6" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The US Department of Defense DIC (Document Identifier Code), which specifies the purpose of the document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Remarks" type="DescriptionText_2" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Miscellaneous remarks about the document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DlmsImplementationConvention" type="ResourceIdentifier_84" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Defense Logistics Management Standard (DLMS) revision number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentNumber" type="ParsedResourceIdentifierComponent_3" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The US Department of Defense Document Number assigned to the document.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentDetailBlock_31">
		<xs:annotation>
			<xs:documentation>Specifies a logical or physical document level of contextual information, unique identification number, creation date, etc. | Identification of document.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CreateDateAndTime" type="DateTime_1" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date and time that this instance of the document is generated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstanceIdentifier" type="ResourceIdentifier_85" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An instance identifier is a business document or an arbitrary control number.  The combination of the instance identifier and the creation date and time must be unique in the eyes of the receiver.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressBlock_1">
		<xs:annotation>
			<xs:documentation>Grouping of information used to specify the location address. | Describes what is commonly known as the mailing address.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="StreetAddress" type="LocationText_9" minOccurs="1" maxOccurs="2">
					<xs:annotation>
						<xs:documentation>Specifies the set of details required to fully delineate a street number, as used in postal addressing schemes.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SubsiteAddress" type="SubsiteAddressComponent_1" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Detailed breakout of the information that is often found on the address lines of a mailing address such as apartment, building, department, floor, mail stop, room, and suite.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="City" type="LocationText_1" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Text identifying a city.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CountrySubdivision" type="LocationCode_2" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Largest subdivision of a country.  Examples include US states and Canadian provcinces.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PostalCode" type="LocationIdentifier_1" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Defines international postal code.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Country" type="LocationCode_3" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Code identifying a country.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IndividualBlock_4">
		<xs:annotation>
			<xs:documentation>Identifies the role and identity of an individual. | Identifies an individual by name only.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IndividualName" type="NameText_6" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of the individual involved in the document exchange.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationBlock_15">
		<xs:annotation>
			<xs:documentation>Specifies the role and identity of an organization. | Organization involved in the document exchange</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrganizationName" type="NameText_1" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of the organization involved in the document exchange</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganizationIdentifier" type="PartyIdentifier_29" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies an organization involved in the document exchange</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationBlock_7">
		<xs:annotation>
			<xs:documentation>Specifies the role and identity of an organization. | US Government Organization referenced by one or more applicable identifiers.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="DODAAC" type="PartyIdentifier_10" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>DODAAC (Department of Defense Activity Address Code) identifying the organization.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RIC" type="PartyIdentifier_11" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>RIC (Routing Identification Code) identifying the organization.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DUNS" type="PartyIdentifier_12" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>DUNS (Data Universal Numbering System (Dun &amp; Bradstreet)) number identifying the organization.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="MAPAC" type="PartyIdentifier_13" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>MAPAC (Military Assistance Program Address Code) identifying the organization.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CAGE" type="PartyIdentifier_14" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>CAGE (Commercial and Government Entity) code identifying the organization.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TelephoneBlock_1">
		<xs:annotation>
			<xs:documentation>Comprehensive telephone block, designed to provide definition for the telephone number, and also a variety of characteristics covering use and features. | Comprehensive telephone block, designed to provide definition for the telephone number, and also a variety of characteristics covering use and features.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TelephoneNumber" type="LocationText_4" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A word or phrase that constitutes the designation of place.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TelephoneTimeRole" type="DateTimeCode_1" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description not provided</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TelephoneLocationRole" type="LocationCode_4" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description not provided</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TelephoneDevice" type="ResourceCode_1" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description not provided</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TelephoneService" type="ResourceCode_2" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description not provided</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ElectronicLocationBlock_1">
		<xs:annotation>
			<xs:documentation>Combination of information that defines a specified individual's or organization's electronic location. | Combination of information that defines a specified individual's or organization's electronic location.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EmailAddress" type="LocationText_10" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A word or phrase that constitutes the designation of place.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConstructErrorBlock_2">
		<xs:annotation>
			<xs:documentation>Describes a non-syntactic error in a previously submitted Document.  Examples include application-specific errors, and errors resulting from user-defined business rules. | Generic error information about an invalid CICA construct</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InvalidConstructId" type="ConstructIdentifier_1" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>CICA Identifier for this construct - for example "B23_1"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvalidConstructLocation" type="ConstructLocationText_1" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>XPath location of the invalid CICA construct</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DependentConstructLocation" type="ConstructLocationText_1" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>XPath location of the construct that causes the invalid construct to be required, if this dependency is the reason for the error</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ErrorCode" type="EventCode_11" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Describes the type of error through use of a code, such as "identifier not found" or "construct A must be present if construct B is present".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ErrorDescription" type="DescriptionText_4" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Free-form text description of the error</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ==========  Components ========== -->
	<xs:complexType name="SubsiteAddressComponent_1">
		<xs:annotation>
			<xs:documentation>Detailed breakout of the information that is often found on the Address Lines of a mailing address such as apartment, building, department, floor, mail stop, room, and suite. | Detailed breakout of the information that is often found on the address lines of a mailing address such as apartment, building, department, floor, mail stop, room, or suite.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="Apartment" type="LocationText_2" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>A single residence in a multi unit dwelling.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Building" type="LocationText_7" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>A single structure.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Department" type="LocationText_7" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>A distinct usually specified division of a large organization.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Floor" type="LocationText_2" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>A story or level of a building.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Room" type="LocationText_2" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>An area seperated by walls or partitions from other similar parts of the building in which it is located.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Suite" type="LocationText_2" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>A series of connected rooms used as a living unit.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParsedResourceIdentifierComponent_3">
		<xs:annotation>
			<xs:documentation>A multi-part identifier that may be concatenated to uniquely identify a resource. | References a US Government-generated Document Number for use in tracking material through the supply chain.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocumentNumber" type="ResourceIdentifier_26" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The original Document Number assigned to this material.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentSuffix" type="ResourceIdentifier_27" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A one digit number that references a split shipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParsedDateTimeComponent_1">
		<xs:annotation>
			<xs:documentation>Describes a date/time by separating out the date and time into individual constructs. | Date and time the event occurred.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Date" type="DateTimeText_3" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description not provided</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Time" type="DateTimeText_1" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description not provided</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type" type="DateTypeCode_1" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description not provided</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ==========  Primitives ========== -->
	<xs:complexType name="LocationIdentifier_1">
		<xs:annotation>
			<xs:documentation>An identifier that designates a place. | Defines international postal code.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationIdentifier_1_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationIdentifier_1_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DateTypeCode_1">
		<xs:annotation>
			<xs:documentation>Describes the type of date.  i.e. estimated, actual, proposed. | Describes the type of date.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="DateTypeCode_1_Content">
				<xs:attribute name="ListIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageIdentifier" type="xs:token" use="optional"/>
				<xs:attribute name="ListURI" type="xs:string" use="optional"/>
				<xs:attribute name="ListSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="DateTypeCode_1_Content">
		<xs:restriction base="xs:token">
			<xs:enumeration value="A">
				<xs:annotation>
					<xs:documentation>Actual</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="E">
				<xs:annotation>
					<xs:documentation>Estimated</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="R">
				<xs:annotation>
					<xs:documentation>Rescheduled</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="S">
				<xs:annotation>
					<xs:documentation>Scheduled</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationText_1">
		<xs:annotation>
			<xs:documentation>A word or phrase that describes a position or site. | A word or phrase that describes a position or site.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationText_1_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationText_1_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationText_10">
		<xs:annotation>
			<xs:documentation>A word or phrase that describes a position or site. | Email Address</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationText_10_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationText_10_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationText_2">
		<xs:annotation>
			<xs:documentation>A word or phrase that describes a position or site. | A specific identifier on a public way or thoroughfare.  i.e. Street Number.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationText_2_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationText_2_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationText_4">
		<xs:annotation>
			<xs:documentation>A word or phrase that describes a position or site. | Telephone Number</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationText_4_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationText_4_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationText_7">
		<xs:annotation>
			<xs:documentation>A word or phrase that describes a position or site. | A word or phrase that describes a position or site.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationText_7_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationText_7_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="55"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationText_9">
		<xs:annotation>
			<xs:documentation>A word or phrase that describes a position or site. | A word or phrase that describes a position or site.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationText_9_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationText_9_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationCode_2">
		<xs:annotation>
			<xs:documentation>A list of codes that designates a place. | The highest level of subdivision within a country.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationCode_2_Content">
				<xs:attribute name="ListIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageIdentifier" type="xs:token" use="optional"/>
				<xs:attribute name="ListURI" type="xs:string" use="optional"/>
				<xs:attribute name="ListSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationCode_2_Content">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationCode_3">
		<xs:annotation>
			<xs:documentation>A list of codes that designates a place. | Code identifying a country.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationCode_3_Content">
				<xs:attribute name="ListIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageIdentifier" type="xs:token" use="optional"/>
				<xs:attribute name="ListURI" type="xs:string" use="optional"/>
				<xs:attribute name="ListSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationCode_3_Content">
		<xs:restriction base="xs:token">
			<xs:minLength value="2"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationCode_4">
		<xs:annotation>
			<xs:documentation>A list of codes that designates a place. | Used to describe where a specific item is located.  Commonly used to differentiate between home and business."  Subelement Information:  (Put in description if don't have another location for now).  Subset of DE365,  Enum 'HP', 'WP'</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationCode_4_Content">
				<xs:attribute name="ListIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageIdentifier" type="xs:token" use="optional"/>
				<xs:attribute name="ListURI" type="xs:string" use="optional"/>
				<xs:attribute name="ListSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationCode_4_Content">
		<xs:restriction base="xs:token">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
			<xs:enumeration value="HP">
				<xs:annotation>
					<xs:documentation>Home Phone</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WP">
				<xs:annotation>
					<xs:documentation>Work Phone</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NameText_1">
		<xs:annotation>
			<xs:documentation>A word or phrase that constitutes the distinctive designation of a person or thing. | A word or phrase that designates a person or thing.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="NameText_1_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="NameText_1_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NameText_6">
		<xs:annotation>
			<xs:documentation>A word or phrase that constitutes the distinctive designation of a person or thing. | A word or phrase that designates a person or thing.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="NameText_6_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="NameText_6_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PartyIdentifier_10">
		<xs:annotation>
			<xs:documentation>Identifier which uniquely specifies a party, either an Individual or an Organization. | DODAAC (Dept. of Defense Address Activity Code) - a US Government-assigned 6 position alphanumeric identifier used to identify a specific unit, activity, or organization.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="PartyIdentifier_10_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="PartyIdentifier_10_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[a-zA-Z0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PartyIdentifier_11">
		<xs:annotation>
			<xs:documentation>Identifier which uniquely specifies a party, either an Individual or an Organization. | RIC (Routing Identification Code) - a US Government-assigned 3 position alphanumeric identifier assigned to an organization.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="PartyIdentifier_11_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="PartyIdentifier_11_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[a-zA-Z0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PartyIdentifier_12">
		<xs:annotation>
			<xs:documentation>Identifier which uniquely specifies a party, either an Individual or an Organization. | DUNS/DUNS+4 - Dun and Bradstreet Data Universal Numbering System identifier consisting of a 9 position alphanumeric identifier (DUNS) or a 13 position alphanumeric identifier (DUNS+4).</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="PartyIdentifier_12_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="PartyIdentifier_12_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="13"/>
			<xs:pattern value="[a-zA-Z0-9]{9}([a-zA-Z0-9]{4})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PartyIdentifier_13">
		<xs:annotation>
			<xs:documentation>Identifier which uniquely specifies a party, either an Individual or an Organization. | MAPAC (Military Assistance Program Address Code) - a US Government-assigned 8 position identifier for a foreign-country-based entity.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="PartyIdentifier_13_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="PartyIdentifier_13_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[a-zA-Z0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PartyIdentifier_14">
		<xs:annotation>
			<xs:documentation>Identifier which uniquely specifies a party, either an Individual or an Organization. | CAGE Code (Commercial and Government Entity Code) - a  US Government-assigned 5 position alphanumeric identifier that uniquely identifies an organization.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="PartyIdentifier_14_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="PartyIdentifier_14_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="5"/>
			<xs:maxLength value="5"/>
			<xs:pattern value="[a-zA-Z0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PartyIdentifier_29">
		<xs:annotation>
			<xs:documentation>Identifier which uniquely specifies a party, either an Individual or an Organization. | Identifies an organization involved in the message exchange.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="PartyIdentifier_29_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="PartyIdentifier_29_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DateTime_1">
		<xs:annotation>
			<xs:documentation>Specifies a date and/or time | Date and/or Time.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:dateTime"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ResourceCode_1">
		<xs:annotation>
			<xs:documentation>Specifies a supply or support. i.e. material or service. | Type of telephone. i.e. Facsimile, Landline, Mobile.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ResourceCode_1_Content">
				<xs:attribute name="ListIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageIdentifier" type="xs:token" use="optional"/>
				<xs:attribute name="ListURI" type="xs:string" use="optional"/>
				<xs:attribute name="ListSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ResourceCode_1_Content">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Fax">
				<xs:annotation>
					<xs:documentation>Facsimile</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Landline">
				<xs:annotation>
					<xs:documentation>Landline</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Mobile">
				<xs:annotation>
					<xs:documentation>Mobile</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Pager">
				<xs:annotation>
					<xs:documentation>Pager</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PDA">
				<xs:annotation>
					<xs:documentation>Personal Data Assistant</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ResourceCode_2">
		<xs:annotation>
			<xs:documentation>Specifies a supply or support. i.e. material or service. | Type of service expected for the telephone.  i.e. Answering service.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ResourceCode_2_Content">
				<xs:attribute name="ListIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageIdentifier" type="xs:token" use="optional"/>
				<xs:attribute name="ListURI" type="xs:string" use="optional"/>
				<xs:attribute name="ListSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ResourceCode_2_Content">
		<xs:restriction base="xs:token">
			<xs:enumeration value="AS">
				<xs:annotation>
					<xs:documentation>Answering Service</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OSB">
				<xs:annotation>
					<xs:documentation>Operator Standing By</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VM">
				<xs:annotation>
					<xs:documentation>Voice Mail</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ResourceIdentifier_26">
		<xs:annotation>
			<xs:documentation>Specified a supply or support, i.e. material or service. | Document Number - a 14 position alphanumeric identifier used for tracking material in the US Government.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ResourceIdentifier_26_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ResourceIdentifier_26_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="14"/>
			<xs:maxLength value="14"/>
			<xs:pattern value="[a-zA-Z0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ResourceIdentifier_27">
		<xs:annotation>
			<xs:documentation>Specified a supply or support, i.e. material or service. | Document Number Suffix - for split shipments, this value would be incremented for each separate shipment, and appended to the original Document Number.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ResourceIdentifier_27_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ResourceIdentifier_27_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[A-Z0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ResourceIdentifier_84">
		<xs:annotation>
			<xs:documentation>Specified a supply or support, i.e. material or service. | Defense Logistics Management Standard (DLMS) revision number</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ResourceIdentifier_85">
		<xs:annotation>
			<xs:documentation>Specified a supply or support, i.e. material or service. | Name of the organization involved in the message exchange.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ResourceIdentifier_85_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ResourceIdentifier_85_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PurposeCode_6">
		<xs:annotation>
			<xs:documentation>Describes or specifies the intended outcome. May answer the question what. | US Department of Defense MILS (Military Standard) Document Identifier Code</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="PurposeCode_6_Content">
				<xs:attribute name="ListIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageIdentifier" type="xs:token" use="optional"/>
				<xs:attribute name="ListURI" type="xs:string" use="optional"/>
				<xs:attribute name="ListSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="PurposeCode_6_Content">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DescriptionText_2">
		<xs:annotation>
			<xs:documentation>Discourse intended to give a mental image of something. | A short textual description not to exceed 30 characters.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="DescriptionText_2_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="DescriptionText_2_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DescriptionText_4">
		<xs:annotation>
			<xs:documentation>Discourse intended to give a mental image of something. | Description of a US Department of Defense message processing error.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="DescriptionText_4_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="DescriptionText_4_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DateTimeCode_1">
		<xs:annotation>
			<xs:documentation>Used for textual date time representations.  i.e.  When describing Day, Night, Morning, Afternoon, Evening, etc. | Represents a portion of the day that is commonly associated with the sun coming up and going down.  Subelement Information:  (Put in description if don't have another location for now)  Subset of DE365,  Enum  'NP',  Note:  Will have to add 'DP - Daytime</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:token">
				<xs:attribute name="ListIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageIdentifier" type="xs:token" use="optional"/>
				<xs:attribute name="ListURI" type="xs:string" use="optional"/>
				<xs:attribute name="ListSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EventCode_11">
		<xs:annotation>
			<xs:documentation>The event described in terms of a code. i.e.  Delivery, Birth, Enrollment | Error or Information Code.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="EventCode_11_Content">
				<xs:attribute name="ListIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageIdentifier" type="xs:token" use="optional"/>
				<xs:attribute name="ListURI" type="xs:string" use="optional"/>
				<xs:attribute name="ListSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="EventCode_11_Content">
		<xs:restriction base="xs:token">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[0-9a-zA-Z]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ConstructIdentifier_1">
		<xs:annotation>
			<xs:documentation>Identifies a CICA construct | Identifies a CICA construct by Reference ID.  For example, "B23_1"</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ConstructLocationText_1">
		<xs:annotation>
			<xs:documentation>Location of a CICA construct within a document. | XPath expression identifying the location of an element or attribute within a CICA XML Document</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DateTimeText_1">
		<xs:annotation>
			<xs:documentation>Part of a complete date time combination. (i.e. Year as CCYY or Time as HHMM) | Time in Hours and minutes</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="DateTimeText_1_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="DateTimeText_1_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="\d\d\d\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DateTimeText_3">
		<xs:annotation>
			<xs:documentation>Part of a complete date time combination. (i.e. Year as CCYY or Time as HHMM) | Date (century, year, month, day) expressed as CCYYMMDD.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="DateTimeText_3_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="DateTimeText_3_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="\d\d\d\d\d\d\d\d"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ==========  Common Derived Datatypes ========== -->
	<xs:simpleType name="JulianDate">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d\d\d\d\d\d\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="JulianDayOfYear">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d\d\d"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ==========  Publication Version Type ========== -->
	<xs:simpleType name="PublicationVersionType">
		<xs:restriction base="xs:token">
			<xs:pattern value="\d\d\d\d\d\d\d\d"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
