src/main/resources/schemaLib/ver201212/Finance/F45.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:x12:schemas:V00201202:PCardVisaPaymentDocument" xmlns:X12.7="urn:x12:schemas:V00201002:X12.7" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:x12:schemas:V00201202:PCardVisaPaymentDocument" elementFormDefault="qualified" attributeFormDefault="unqualified" version="00201202" X12.7:PublicationDate="2012-02-12">
	<!-- ==========  Document ========== -->
	<xs:element name="PCardVisaPaymentDocument">
		<xs:annotation>
			<xs:documentation>PCard (Purchase Card) transaction for payment. | Process to create VISA PCard (Purchase Card) transactions for payment. PCard refers to Business Accounts, either via a card or electronic account.  These can be held Corporately or per individual within Company.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PCardHeaderDetailInformation" type="PCardLevel1PaymentModule" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>PCard (Purchase Card) Transaction detail information.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PCardAuthorizationInformation" type="PCardAVSInformationModule" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>PCard (Purchase Card) batch authorization information.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Detail" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PCardLevel2Detail" type="PCardLevel2DetailVisaModule" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Level 2 Data elements for PCard (Purchase Card) transaction.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="PCardLevel3LineItemDetail" type="PCardLevel3LineItemDetailForVisaPaymentsModule" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Line item detail within PCard (Purchase Card) transaction.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="PublicationVersion" type="PublicationVersionType" use="required"/>
			<xs:attribute name="PublicationDate" type="xs:date" use="required"/>
		</xs:complexType>
	</xs:element>
	<!-- ==========  Modules ========== -->
	<xs:complexType name="PCardAVSInformationModule">
		<xs:annotation>
			<xs:documentation>Used for AVS (Address Verification Systems) when PCard (Purchase Card) processing in batch mode is not preauthorized.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="CardholderAddress" type="AddressBlock_5" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Cardholder billing information for AVS (Address Verification System) purposes, used for batch authorizations.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AccountName" type="OrganizationBlock_10" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Name of individual or corporation on Card Account.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PCardLevel1PaymentModule">
		<xs:annotation>
			<xs:documentation>Transaction payment information necessary for PCard (Purchase Card) payment processing.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FileDetail" type="DocumentDetailBlock_24" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Level 1 information for processing payment applicable to all PCard (Purchase Card) types.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalAmount" type="AmountBlock_14" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PCard (Purchase Card) transaction amount.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardIdentification" type="ResourceIdentificationBlock_16" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PCard (Purchase Card) specific account information.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PCardLevel2DetailVisaModule">
		<xs:annotation>
			<xs:documentation>Level 2 PCard (Purchase Card) data for VISA transactions.  Data pertains to the whole transaction at this level.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MerchantInformation" type="DocumentDetailBlock_25" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Level 2 detail information on entire transaction for VISA PCard (Purchase Card).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DestinationAddress" type="AddressBlock_6" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Destination information for entire PCard (Purchase Card) transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginatorAddress" type="AddressBlock_7" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Origination information for entire VISA PCard (Purchase Card) transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SalesTax" type="AmountBlock_15" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sales Tax information for entire VISA PCard (Purchase Card) transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FreightShippingAmount" type="AmountBlock_16" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Freight and shipping information on entire VISA PCard (Purchase Card) transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DutyAmount" type="AmountBlock_17" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Duty Amount information for entire VISA PCard (Purchase Card) transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiscountAmount" type="AmountBlock_18" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Discount Amount information for entire VISA PCard (Purchase Card) transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PCardLevel3LineItemDetailForVisaPaymentsModule">
		<xs:annotation>
			<xs:documentation>Line Item Detail for PCard (Purchase Card) data for VISA transactions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LineItemInformation" type="DocumentDetailBlock_28" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Line Item Detail for PCard (Purchase Card) transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnitCost" type="AmountBlock_21" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Unit Cost per line item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineItemTotal" type="AmountBlock_22" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Line Item total</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="PhysicalPropertiesBlock_4" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Quantity information for Line Item Detail</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ==========  Assemblies ========== -->
	<!-- ==========  Blocks ========== -->
	<xs:complexType name="AmountBlock_14">
		<xs:annotation>
			<xs:documentation>Describes the value and purpose of a monetary amount. Can also optionally include the value and reason for adjustments to an amount.  All concrete amount blocks must clearly state the purpose and effect of adjustments (indicate if an amount includes an ad | PCard (Purchase Card) transaction amount.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TransactionTotalAmount" type="Amount_10" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Transaction Total Amount, amount to be applied to card.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DetailTransactionCode" type="ResourceTypeCode_9" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Debit or Credit Indicator (Sale = Debit, Return = Credit)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmountBlock_15">
		<xs:annotation>
			<xs:documentation>Describes the value and purpose of a monetary amount. Can also optionally include the value and reason for adjustments to an amount.  All concrete amount blocks must clearly state the purpose and effect of adjustments (indicate if an amount includes an ad | Informational for Sales Tax usage.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SalesTaxIncludedIndicator" type="ResourceCode_16" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Code list; to notate whether non-taxable; provided; or not provided.  enumeration of code list: 1= non-taxable; 2= tax provided; 3= tax amount not provided.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SalesTaxAmount" type="Amount_11" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sales tax amount for entire transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmountBlock_16">
		<xs:annotation>
			<xs:documentation>Describes the value and purpose of a monetary amount. Can also optionally include the value and reason for adjustments to an amount.  All concrete amount blocks must clearly state the purpose and effect of adjustments (indicate if an amount includes an ad | Informational amount for freight/shipping for total purchase.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FreightShippingAmount" type="Amount_10" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Informational amount included in transaction total for total of freight/ shipping amount.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmountBlock_17">
		<xs:annotation>
			<xs:documentation>Describes the value and purpose of a monetary amount. Can also optionally include the value and reason for adjustments to an amount.  All concrete amount blocks must clearly state the purpose and effect of adjustments (indicate if an amount includes an ad | Informational amount for import/export duty fees amount for total purchase.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DutyAmount" type="Amount_10" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Informational amount for import/export duty fees amount for total purchase.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmountBlock_18">
		<xs:annotation>
			<xs:documentation>Describes the value and purpose of a monetary amount. Can also optionally include the value and reason for adjustments to an amount.  All concrete amount blocks must clearly state the purpose and effect of adjustments (indicate if an amount includes an ad | Informational for Discount Amount applied to full transaction.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DiscountAmount" type="Amount_11" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Informational amount for discounts applied to full transaction</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmountBlock_21">
		<xs:annotation>
			<xs:documentation>Describes the value and purpose of a monetary amount. Can also optionally include the value and reason for adjustments to an amount.  All concrete amount blocks must clearly state the purpose and effect of adjustments (indicate if an amount includes an ad | Unit Cost is the cost per item purchased.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UnitCost" type="Amount_11" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unit Cost is the cost per item purchased.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmountBlock_22">
		<xs:annotation>
			<xs:documentation>Describes the value and purpose of a monetary amount. Can also optionally include the value and reason for adjustments to an amount.  All concrete amount blocks must clearly state the purpose and effect of adjustments (indicate if an amount includes an ad | Line item total</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LineItemTotal" type="Amount_11" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unit cost times quantity, minus discount if applicable.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiscountAmount" type="AdjustmentAmountComponent_3" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Discount amount, if any, per line item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DebitCreditIndicator" type="ResourceTypeCode_9" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>DB= Debit (sold); CR= Credit (returned).  Indicator for Extended Amount is a sale or a return.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PhysicalPropertiesBlock_4">
		<xs:annotation>
			<xs:documentation>Characteristics of an item(s) that are based on an objective scale of  measurement.  Non-measurable item(s) should be considered 'Qualities'. | Quantity and Unit of Measure for Line Item Detail transaction information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Quantity" type="Quantity_4" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Quantity of item(s) purchased.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResourceIdentificationBlock_16">
		<xs:annotation>
			<xs:documentation>Combination of constructs that together identify a specific resource. | PCard (Purchase Card) specific account information necessary for cardholder verification purposes.  Either Authorization Code or Card Expiration Date must be used based on information available, although both can be sent.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AuthorizationCode" type="DescriptionText_7" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Authorization information. This information is provided for each individual transaction.  Mutually defined.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardholderNumber" type="ResourceIdentifier_68" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PCard (Purchase Card) Account Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardExpirationDate" type="DateTimeText_6" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Card Expiration date.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentDetailBlock_24">
		<xs:annotation>
			<xs:documentation>Specifies a logical or physical document level of contextual information, unique identification number, creation date, etc. | PCard (Purchase Card) Level 1 information for processing payment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FileType" type="PurposeCode_5" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Connotes type of file submission. Authorization, Settlement, or Both.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TestProductionIndicator" type="ReasonCode_7" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifier of "Test" or "Production" data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MerchantReferenceNumber" type="ResourceIdentifier_69" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An invoice number that is a unique transaction identifier that is  provided by the seller.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MerchantIdentifier" type="PartyIdentifier_19" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Merchant ID.  Number assigned by processor to identify merchant.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransactionDate" type="DateTimeText_5" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date of transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentDetailBlock_25">
		<xs:annotation>
			<xs:documentation>Specifies a logical or physical document level of contextual information, unique identification number, creation date, etc. | Level 2 data used for VISA PCard (Purchase Card) transactions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomerCode" type="ResourceIdentifier_77" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Customer Code: Used by VISA and Mastercard. Customer defined data that they will use to recognize each transaction by. Examples can be PO Number, Cost Center, GL Account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MerchantReferenceNumber" type="PartyIdentifier_21" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Used by VISA and MasterCard. Merchant defined data, such as customer number, purchase order number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderDate" type="DateTimeText_7" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Used only by VISA. Date cardholder placed order.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentDetailBlock_28">
		<xs:annotation>
			<xs:documentation>Specifies a logical or physical document level of contextual information, unique identification number, creation date, etc. | PCard (Purchase Card) Level 3 line item detail.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ItemCommodityCode" type="ResourceIdentifier_77" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Supplier's commodity code used to classify the item purchased.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemDescription" type="DescriptionText_9" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Text description of item purchased.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductCode" type="ResourceIdentifier_74" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Supplier identifier for item purchased.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressBlock_5">
		<xs:annotation>
			<xs:documentation>Grouping of information used to specify the location address. | Address information on parties within PCard (Purchase Card) transaction.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StreetAddress" type="LocationText_11" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Street and number of billing address. PO boxes are not permitted.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="City" type="LocationText_12" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Billing address city</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="State" type="LocationCode_6" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Billing state, 2 position abbreviated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalCode" type="LocationIdentifier_18" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Five or Nine digit US or Canadian postal code.  No dashes.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressBlock_6">
		<xs:annotation>
			<xs:documentation>Grouping of information used to specify the location address. | Destination of purchase address information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="DestinationPostalCode" type="LocationIdentifier_18" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>5 or 9 digit US or international postal code of destination.  No dashes.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DestinationCountry" type="LocationIdentifier_19" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Identification of the name of the country. Only necessary if Freight/Shipping Amount is supplied.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressBlock_7">
		<xs:annotation>
			<xs:documentation>Grouping of information used to specify the location address. | The location where the order originated.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OriginationPostalCode" type="LocationIdentifier_18" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>5 or 9 digit US or international postal code of destination.  No dashes.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationBlock_10">
		<xs:annotation>
			<xs:documentation>Specifies the role and identity of an organization. | Card holder name.  If under a personal name, last name first. Corporate card name when card is a PCard (Purchase Card).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CardHolderAccountName" type="NameText_11" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Card holder name.  If under a personal name, last name first. Corporate card name when card is a Pcard.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ==========  Components ========== -->
	<xs:complexType name="AdjustmentAmountComponent_3">
		<xs:annotation>
			<xs:documentation>An adjustment amount that alters another amount with the reason for the change. | The usage of this Component represents Discount Amount.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="DiscountAmount" type="Amount_11" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Discount amount, if any, per line item.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ItemDiscountRate" type="RateNumeric_2" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Discount rate, if applicable, per item.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!-- ==========  Primitives ========== -->
	<xs:complexType name="Quantity_4">
		<xs:annotation>
			<xs:documentation>Describes the number of an item that is being referenced. | Quantity of item(s) purchased.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="Quantity_4_Content">
				<xs:attribute name="UnitCode" type="xs:token" use="optional"/>
				<xs:attribute name="UnitCodeListIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="UnitCodeListAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="UnitCodeListAgencyNameText" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="Quantity_4_Content">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Amount_10">
		<xs:annotation>
			<xs:documentation>A monetary amount. | Transaction Amount.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="Amount_10_Content">
				<xs:attribute name="CurrencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="CurrencyCodeListVersionIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="Amount_10_Content">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Amount_11">
		<xs:annotation>
			<xs:documentation>A monetary amount. | Amounts presented for entire transaction.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="CurrencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="CurrencyCodeListVersionIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LocationIdentifier_18">
		<xs:annotation>
			<xs:documentation>An identifier that designates a place. | Five or Nine digit US or Canadian postal code.  No dashes.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationIdentifier_18_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationIdentifier_18_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="5"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationIdentifier_19">
		<xs:annotation>
			<xs:documentation>An identifier that designates a place. | Country Code (ISO list) only used if Freight/Shipping Amount is included.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationIdentifier_19_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationIdentifier_19_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ResourceTypeCode_9">
		<xs:annotation>
			<xs:documentation>Designates a resource type by means of a code that specifies a supply or support. | Debit or Credit Indicator (Sale = Debit, Return = Credit).</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ResourceTypeCode_9_Content">
				<xs:attribute name="ListIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageIdentifier" type="xs:token" use="optional"/>
				<xs:attribute name="ListURI" type="xs:string" use="optional"/>
				<xs:attribute name="ListSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ResourceTypeCode_9_Content">
		<xs:restriction base="xs:token">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
			<xs:enumeration value="CR">
				<xs:annotation>
					<xs:documentation>Credit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DE">
				<xs:annotation>
					<xs:documentation>Debit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationText_11">
		<xs:annotation>
			<xs:documentation>A word or phrase that describes a position or site. | Street and number of address. PO boxes are not permitted.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationText_11_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationText_11_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationText_12">
		<xs:annotation>
			<xs:documentation>A word or phrase that describes a position or site. | City name</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationText_12_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationText_12_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="13"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationCode_6">
		<xs:annotation>
			<xs:documentation>A list of codes that designates a place. | 2 byte abbreviated State</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LocationCode_6_Content">
				<xs:attribute name="ListIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageIdentifier" type="xs:token" use="optional"/>
				<xs:attribute name="ListURI" type="xs:string" use="optional"/>
				<xs:attribute name="ListSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LocationCode_6_Content">
		<xs:restriction base="xs:token">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NameText_11">
		<xs:annotation>
			<xs:documentation>A word or phrase that constitutes the distinctive designation of a person or thing. | Card holder name.  If under a personal name, last name first. Otherwise use Corporate card name.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="NameText_11_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="NameText_11_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PartyIdentifier_19">
		<xs:annotation>
			<xs:documentation>Identifier which uniquely specifies a party, either an Individual or an Organization. | Merchant ID.  Number assigned by processor to identify merchant.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="PartyIdentifier_19_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="PartyIdentifier_19_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PartyIdentifier_21">
		<xs:annotation>
			<xs:documentation>Identifier which uniquely specifies a party, either an Individual or an Organization. | Merchant defined data, such as customer number, purchase order number.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="PartyIdentifier_21_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="PartyIdentifier_21_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="17"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ResourceCode_16">
		<xs:annotation>
			<xs:documentation>Specifies a supply or support. i.e. material or service. | Code list; to notate whether non-taxable; provided; or not provided.  enumeration of code list: 1= non-taxable; 2= tax provided; 3= tax amount not provided.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ResourceCode_16_Content">
				<xs:attribute name="ListIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageIdentifier" type="xs:token" use="optional"/>
				<xs:attribute name="ListURI" type="xs:string" use="optional"/>
				<xs:attribute name="ListSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ResourceCode_16_Content">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>Non-taxable</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>Tax provided</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>Tax amount not provided</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ResourceIdentifier_68">
		<xs:annotation>
			<xs:documentation>Specified a supply or support, i.e. material or service. | PCard (Purchase Card) account number</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ResourceIdentifier_68_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ResourceIdentifier_68_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ResourceIdentifier_69">
		<xs:annotation>
			<xs:documentation>Specified a supply or support, i.e. material or service. | An invoice number that is a unique transaction identifier that is  provided by the seller.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ResourceIdentifier_69_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ResourceIdentifier_69_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ResourceIdentifier_74">
		<xs:annotation>
			<xs:documentation>Specified a supply or support, i.e. material or service. | Supplier recognized identifier for item purchased.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ResourceIdentifier_74_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ResourceIdentifier_74_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ResourceIdentifier_77">
		<xs:annotation>
			<xs:documentation>Specified a supply or support, i.e. material or service. | Customer Code (Customer defined data used to recognize each transaction).  Examples include PO Number, Cost Center, GL Account.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ResourceIdentifier_77_Content">
				<xs:attribute name="IDSchemeIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeDataURI" type="xs:string" use="optional"/>
				<xs:attribute name="IDSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ResourceIdentifier_77_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ReasonCode_7">
		<xs:annotation>
			<xs:documentation>Something that supports a conclusion or explains a fact.  Describes or specifies the statement offered in explanation or justification or motivation.  May answer the question why. | Identifier of "Test" or "Production" data.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ReasonCode_7_Content">
				<xs:attribute name="ListIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageIdentifier" type="xs:token" use="optional"/>
				<xs:attribute name="ListURI" type="xs:string" use="optional"/>
				<xs:attribute name="ListSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ReasonCode_7_Content">
		<xs:restriction base="xs:token">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:enumeration value="PROD">
				<xs:annotation>
					<xs:documentation>Production data</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TEST">
				<xs:annotation>
					<xs:documentation>Test system data</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PurposeCode_5">
		<xs:annotation>
			<xs:documentation>Describes or specifies the intended outcome. May answer the question what. | Connotates type of file submission. Authorization, Settlement, or Both.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="PurposeCode_5_Content">
				<xs:attribute name="ListIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="ListAgencyNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListNameText" type="xs:string" use="optional"/>
				<xs:attribute name="ListVersionIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageIdentifier" type="xs:token" use="optional"/>
				<xs:attribute name="ListURI" type="xs:string" use="optional"/>
				<xs:attribute name="ListSchemeURI" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="PurposeCode_5_Content">
		<xs:restriction base="xs:token">
			<xs:enumeration value="AUTH">
				<xs:annotation>
					<xs:documentation>Authorization</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BOTH">
				<xs:annotation>
					<xs:documentation>Authorization and Settlement</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SETT">
				<xs:annotation>
					<xs:documentation>Settlement</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DescriptionText_7">
		<xs:annotation>
			<xs:documentation>Discourse intended to give a mental image of something. | Authorization. Either this data or Card Expiration data must be supplied. Both can be supplied for American Express.  Expiration Date required for Authorization and Transaction Date required for Settlement. No Code Table. Provided by the bank for each ind</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="DescriptionText_7_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="DescriptionText_7_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DescriptionText_9">
		<xs:annotation>
			<xs:documentation>Discourse intended to give a mental image of something. | Text description of item purchased.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="DescriptionText_9_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="DescriptionText_9_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="26"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RateNumeric_2">
		<xs:annotation>
			<xs:documentation>Number used for rates. | Discount rate, if applicable, per item.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="RateNumeric_2_Content"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="RateNumeric_2_Content">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DateTimeText_5">
		<xs:annotation>
			<xs:documentation>Part of a complete date time combination. (i.e. Year as CCYY or Time as HHMM) | Date (month and day) expressed as MMDD</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="DateTimeText_5_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="DateTimeText_5_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DateTimeText_6">
		<xs:annotation>
			<xs:documentation>Part of a complete date time combination. (i.e. Year as CCYY or Time as HHMM) | Date (year and month) expressed as YYMM</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="DateTimeText_6_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="DateTimeText_6_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DateTimeText_7">
		<xs:annotation>
			<xs:documentation>Part of a complete date time combination. (i.e. Year as CCYY or Time as HHMM) | Date (year, month, day) expressed as YYMMDD</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="DateTimeText_7_Content">
				<xs:attribute name="LanguageIdentifier" type="xs:string" use="optional"/>
				<xs:attribute name="LanguageLocaleIdentifier" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="DateTimeText_7_Content">
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ==========  Common Derived Datatypes ========== -->
	<xs:simpleType name="JulianDate">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d\d\d\d\d\d\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="JulianDayOfYear">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d\d\d"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ==========  Publication Version Type ========== -->
	<xs:simpleType name="PublicationVersionType">
		<xs:restriction base="xs:token">
			<xs:pattern value="\d\d\d\d\d\d\d\d"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
