src/main/resources/schemaLib/HL7/ver2008/multicacheschemas/PRSC_HD020200UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ex="urn:hl7-org/v3-example"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type PRSC_HD020200UV01.
* Source information:
*     Rendered by: RoseTree 4.2.7
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: PRSC_HD020200UV01.xsd,v 1.1.2.3 2009-01-16 13:53:21 hrs Exp $
  Base transform: $Id: PRSC_HD020200UV01.xsd,v 1.1.2.3 2009-01-16 13:53:21 hrs Exp $
  Package Id Conversion: $Id: PRSC_HD020200UV01.xsd,v 1.1.2.3 2009-01-16 13:53:21 hrs Exp $
  HTML To MIF markup: $Id: PRSC_HD020200UV01.xsd,v 1.1.2.3 2009-01-16 13:53:21 hrs Exp $
 Flat to Serialization Transform: $Id: PRSC_HD020200UV01.xsd,v 1.1.2.3 2009-01-16 13:53:21 hrs Exp $
 Fix Names Transform: $Id: PRSC_HD020200UV01.xsd,v 1.1.2.3 2009-01-16 13:53:21 hrs Exp $
  Base transform: $Id: PRSC_HD020200UV01.xsd,v 1.1.2.3 2009-01-16 13:53:21 hrs Exp $
  Package Id Conversion: $Id: PRSC_HD020200UV01.xsd,v 1.1.2.3 2009-01-16 13:53:21 hrs Exp $
*
* Generated by XMLITS version 3.1.6
*   MIF to XSD Transform $Id: PRSC_HD020200UV01.xsd,v 1.1.2.3 2009-01-16 13:53:21 hrs Exp $
*     Package Id Conversion: $Id: PRSC_HD020200UV01.xsd,v 1.1.2.3 2009-01-16 13:53:21 hrs Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: PRSC_HD020200UV01.xsd,v 1.1.2.3 2009-01-16 13:53:21 hrs Exp $
  Base transform: $Id: PRSC_HD020200UV01.xsd,v 1.1.2.3 2009-01-16 13:53:21 hrs Exp $
  Package Id Conversion: $Id: PRSC_HD020200UV01.xsd,v 1.1.2.3 2009-01-16 13:53:21 hrs Exp $
  HTML To MIF markup: $Id: PRSC_HD020200UV01.xsd,v 1.1.2.3 2009-01-16 13:53:21 hrs Exp $
 Flat to Serialization Transform: $Id: PRSC_HD020200UV01.xsd,v 1.1.2.3 2009-01-16 13:53:21 hrs Exp $
 Fix Names Transform: $Id: PRSC_HD020200UV01.xsd,v 1.1.2.3 2009-01-16 13:53:21 hrs Exp $
  Base transform: $Id: PRSC_HD020200UV01.xsd,v 1.1.2.3 2009-01-16 13:53:21 hrs Exp $
  Package Id Conversion: $Id: PRSC_HD020200UV01.xsd,v 1.1.2.3 2009-01-16 13:53:21 hrs Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:complexType name="PRSC_HD020200UV01.ActAppointment">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="required" fixed="APT"/>
   </xs:complexType>
</xs:schema>